<div class="text-center">
    <MDialog @bind-Value="Show"
             Width="500" >
        <ChildContent>
        <MImage 
                Src="@Src"
                LazySrc="https://picsum.photos/id/11/10/6">
        </MImage>
        </ChildContent>
    </MDialog>
</div>