<div class="text-center">
    <MDialog Value="@Show"
             ValueChanged="ShowChanged"
             Width="@("50%")" MaxWidth="800">
        <ChildContent>
            <MImage Src="@Src"
                    LazySrc="https://picsum.photos/id/11/10/6">
            </MImage>
        </ChildContent>
    </MDialog>
</div>