@page "/Storages"

<div>
    @for (var i = 0; i < 10; i++)
    {
        <MCard Flat Class="list">
            <MImage Style="border-radius: 18px;"
                Src="https://ts1.cn.mm.bing.net/th?id=OIP-C.IbgYcbCHfUUtfweGMKAjTwAAAA&w=250&h=250&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2">
            </MImage>
            <div>文件名称</div>
            <div class="function" @onclick=OnFunctionClick><p>···</p></div>
        </MCard>
    }
</div>

<Storagefile HasFybctuib=HasFybctuib ValueChange="(value)=>HasFybctuib=value">

</Storagefile>
<style>

    .list {
        transition: .3s;
        float: left;
        height: 210px;
        margin: 5px;
        border-radius: 18px !important;
        width: 153px;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #EEEEEE !important;
        top:20px;
    }

        .list:hover {
            transition: .3s;
            transform: scale(0.9);
        }

    .function {
        transition: .3s;
        font-size: 20px;
        border-radius: 18px;
        height:25px;
        background-color: #FFD700;
        margin: 5px;
    }

        .function:hover {
            transition: .3s;
            background-color: #5682e7;
           
        }

        .function p {
            transition: 0.6s;
        }

            .function p:hover {
                transition: 0.6s;
                transform: rotate(-180deg);
            }
</style>