
.menu {
    transition: 0.3s;
    background-color: #ffffff;
    height: 100%;
    width: 150px;
    float: left;
    max-height: 100%;
}


.menu-lessen {
    transition: 0.3s;
    width: 50px;
    background-color: #ffffff;
    height: 100%;
    float: left;
    font-size: 0;
    overflow: hidden;
    max-height: 100%;
}
