<div class="">
    <MBottomSheet Inset Value=HasFybctuib ValueChanged="ValueChange" Style="height:auto;">
        <ChildContent>
            <div class="info">
                
            <div style="float: left;width:100px;">
                <MImage Src="https://picsum.photos/350/165?random"
                        MaxHeight="@("200px")"
                        MaxWidth="@("200px")"
                        Class="grey darken-4"></MImage>
                </div>
                <div style="margin-left:10px">
                    <div>
                        文件名称。。。。。。。。。。。
                    </div>
                    <div style="font-size:12px">
                        文件名称。。。。。。。。。。。
                    </div>
                </div>
                <MDivider></MDivider>
                <StoragefileFunction></StoragefileFunction>

            </div>
        </ChildContent>
    </MBottomSheet>
</div>
