<div class="text-center">
    <MBottomSheet Inset Value=HasFybctuib ValueChanged="ValueChange">
        <ChildContent>
            <MCard Tile>
                <MProgressLinear Value="50"
                                 Class="my-0"
                                 Height="3">
                </MProgressLinear>

                <MList>
                    <MListItem>
                        <MListItemContent>
                            <MListItemTitle>The Walker</MListItemTitle>
                            <MListItemSubtitle>Fitz & The Trantrums</MListItemSubtitle>
                        </MListItemContent>

                        <MSpacer></MSpacer>

                        <MListItemIcon>
                            <MButton Icon>
                                <MIcon>mdi-rewind</MIcon>
                            </MButton>
                        </MListItemIcon>
                    </MListItem>
                </MList>
            </MCard>
        </ChildContent>
    </MBottomSheet>
</div>

@code {

}
