.body {
    border: 1px solid #000000;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1;
    max-height: calc(100vh - 100px);
}
.body::-webkit-scrollbar {
        width: 0 !important;
    }

.floating-window {
    background: #1a59b7;
    color: #ffffff;
    overflow: hidden;
    z-index: 9999;
    position: fixed; /*DIV悬浮(固定位置)*/
    padding: 5px;
    text-align: center;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 60px;
    border-radius: 25px;
}

.floating-window-not{
    display:none;
}