<div>
    @foreach (var d in UploadingList)
    {
        <MCard Class="upload-list">
            <div>@d.FileName</div>
            <MContainer>
                <MProgressLinear Value="@(d.Progress)" Height="25">
                    <strong>@(d.Progress)%</strong>
                </MProgressLinear>
            </MContainer>
        </MCard>
    }
</div>