<div>
    @foreach (var d in UploadingList)
    {
        <MCard Class="upload-list">
            <div>@d.FileName</div>
            <MContainer>
                <MProgressLinear Value="@(d.UploadingSize/d.Length)" Height="25">
                    <strong>@($"{(d.UploadingSize / d.Length*100)}")</strong>
                </MProgressLinear>
            </MContainer>
        </MCard>
    }
</div>